@media (prefers-reduced-motion: all) {
    * {
      scroll-behavior: smooth;
    }
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.about-container .mission,.about-container .vision{
    width: 50%;
}
.values-container{
    width: 30%;
    background-color: #3d3d3d;
    color: #eae3e3;
    border-radius: 1rem;
    padding: .5rem;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.5s ease-in-out;
}
.sub-container{
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}
.container-project img{
    width: 82%;
    height: 20rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4rem;
}
.container-project{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
}
.project-caption{
    width: 80%;
    margin-left: 4rem;
}
.outer-container{
    display: flex;
    flex-wrap: wrap;
}   
.landing {
    margin: 0;
    padding: 0;
    background-image: url('/Images/landing-bg.png');
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}
.para-container, .content-container{
    font-family: 'Montserrat', sans-serif;
}
.content-container{
    width: 50%;
}
.nav-container a, .mobile-menu a {
    font-size: 2rem;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    font-family: 'Montserrat', sans-serif;
}
.pagelanding-container{
    margin-top: 7vh;
    padding-top: 20vh;
}
/* modified navbar style */

.navbar {
    background-color: rgba(181, 127, 73, 0.4); 
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.navbar-nav .nav-link {
    color: #ffffff; 
}
.navbar-nav .nav-link:hover {
    color: #ce834d;
}

/* heavy equipments */
.p-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.para-contain {
    width: 120px;
    margin-bottom: 20px; 
}
.service-caption h2 {
    width: 100%; 
    max-width: 400px; 
    text-align: left; 
    margin-bottom: 20px;
    margin-left: 70px; 
}
.span{
    border: 2px solid orangered;
    display: flex;
    flex-direction: column;
    width: 100px;
    transform: rotate(90deg);
    margin-bottom: 35px;
    margin-right: 0;
}
.description {
    width: fit-content; 
    max-width: 430px; 
    text-align: left; 
    margin-bottom: 50px; 
    margin-top: 50px;
    margin-left: 5px;
}
.text-container h3{
    max-width: 580px;
    min-width: 400px;
    margin-left: 23rem;
    text-align: center;
    padding: 0 1rem;
}
  
.service-container {
    max-width: 85%;
    height: 30vh;
    text-align: left;
}
  
.full-service,
.delivery,
.quality {
    text-align: center;
    width: 300px;
    height: 240px;
    padding-top: 20px;
    background-color: beige;
}
.quality p{
    margin-top: 1.3rem;
}
.landing-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.text-container h1 {
    font-size: 4rem;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.container-fluid.landing {
    position: relative;
}
.drop-down i {
    font-size: 3rem;
    color: whitesmoke;
}
.drop-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}
.nav-container a:hover {
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

footer h4 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

footer .footer-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.mobile-menu{
    display: none;
}
.burger-container{
    padding: 1rem;
    padding-right: 4rem;
    background-color: #9a9999;   
    opacity: 75%; 
}
.dropdown-menu, .dropdown-item{
    background-color: #0f0e0e;
    color: #ffffff;
}
/* Responsiveness */

/* Media Query for iPads and Tablets  */
@media screen and (min-width: 577px) and (max-width: 770px) {
    body {
        width: 100vw;
    }
    .carousel{
        width: 30rem;
        height: 10rem;
    }
    .outer-container{
        display: flex;
        flex-direction: column;
    }
    .container-project{
        width: 97%;
    }
    .container-project img{
        width: 100%;
        margin-left: 3rem;
    }
    .project-container p{
        text-align: center;
    }
    .nav-container a {
        font-size: 2rem;
    }
    .text-container h1 {
        font-size: 3rem;
    }
    .para-container, .content-container {
        width: 100vw;
    }
    .corevalues .value-containers h1{
        font-size: x-large;
    }
    .logo-container img {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        height: 15rem;
        width: 15rem;
    }
    .para-contain{
        text-align: center;
    }
    .p-container {
        flex-direction: column; 
        align-items: center;
    }
    .service-caption h2 {
        margin-left: 0; 
        text-align: center; 
    }
    .description {
        margin-left: auto; 
        margin-right: auto;
        text-align: center; 
        width: 80%;
    }
    .text-container h3 {
        margin-left: auto; 
        margin-right: auto;
        text-align: center; 
    }
    .full-service,
    .delivery,
    .quality {
        width: 80%; 
        max-width: 300px;
        padding-bottom: 2rem;
    }
    .full-service h5,
    .delivery h5,
    .quality h5 {
        font-size: .9rem;
    }
    .full-service p,
    .delivery p {
        font-size: .7rem;
    }
    .quality p {
        margin-top: .5rem;
        font-size: .7rem;
    }
    .equipment-box{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
    }
    .boxes{
        margin: .5rem;
    }
    footer .container h4, footer .container h5{
        font-size: 1rem;
    }
    footer .container p{
        text-align: center;
        font-size: 0.6rem;
        padding: .2rem;
    }
    .drop-down i {
        display: none;
        font-size: 2rem;
    }
    .values-container{
        font-size: .8rem;
    }
    .pagelanding-container h1{
        font-size: 2rem;
    }
    .pagelanding-container img{
        width: 10rem;
    }
    .mobile-menu{
        display: none;
    }
    .logo-container{
        display: none;
    }
}

/* Media query for Mobile */
@media screen and (min-width: 300px) and (max-width: 426px) {
    body{
        width: 100vw;
        margin: 0;
        padding: auto;
    }
    .container-fluid .landing{
        background-size: cover;
    }
    .carousel-item img{
        height: 50vh;
    }
    .para-contain{
        text-align: center;
    }
    .p-container {
        flex-direction: column; 
        align-items: center;
    }
    .service-caption h2 {
        margin-left: 0; 
        text-align: center; 
    }
    .description {
        margin-left: auto; 
        margin-right: auto;
        text-align: center; 
        width: 80%;
    }
    .text-container h3 {
        margin-left: auto; 
        margin-right: auto;
        text-align: center; 
    }
    .full-service,
    .delivery,
    .quality {
        width: 80%; 
        max-width: 300px;
        padding-bottom: 1rem;
    }
    .full-service h5,
    .delivery h5,
    .quality h5 {
        font-size: .9rem;
    }
    .full-service p,
    .delivery p {
        font-size: .7rem;
    }
    .quality p {
        margin-top: 1.5rem;
        font-size: .7rem;
    }
    .landing-container {
        flex-direction: column;
    }
    .text-container h1{
        font-size: 3rem;
    }
    .nav-container {
        display: none;
    }
    .navbar-brand img {
        height: 40px;
    }
    .logo-container img {
        display: none;
    }
    footer .container h4, footer .container h5{
        font-size: .6rem;
    }
    footer .container-fluid{
        padding: 0;
        margin: 0;
    }
    footer .container p{
        text-align: center;
        font-size: 0.5rem;
        padding: 0.1rem;
    }
    footer .copyright-container img, 
    footer .copyright-container p{
        display:none;
    }
    .drop-down i {
        display: none;
    }
    .social-privacy {
        display: none;
    }
    .para-container, .content-container{
        width: 100vw;
    }
    .value-containers {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    .values-container{
        width: 100%;
    }
    .about-container .mission,
    .about-container .vision{
        width: 100%;
    }
    .pagelanding-container h1{
        font-size: 1.7rem;
    }
    .pagelanding-container img{
        width: 8rem;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu a {
        font-size: 1rem;
        padding: 1rem;
    }
    .logo-container{
        display: none;
    }
    .burger-container{
        padding: .5rem;
    }
    
    .container-fluid.d-flex.justify-content-evenly {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .container-md img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .container-sm .text-container h3{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .container-md img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .container-sm {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    } 
    .container-sm.full-service,
    .container-sm.delivery,
    .container-sm.quality {
        width: 100%;
        margin-bottom: 1rem;
    }
}
